venv/Lib/site-packages/click/core.py
venv/Lib/site-packages/colorama/__init__.py
Infra/Faturas/__pycache__/FaturaRepository.cpython-312.pyc
Infra/Faturas/__pycache__/__init__.cpython-312.pyc
venv/Include/site/python3.12/greenlet/greenlet.h
venv/Lib/site-packages/annotated_types/test_cases.py
__pycache__/main.cpython-312.pyc
Api/__pycache__/__init__.cpython-312.pyc
Api/Despesas/__pycache__/__init__.cpython-312.pyc
Api/Despesas/__pycache__/DespesaController.cpython-312.pyc
Api/Faturas/__pycache__/__init__.cpython-312.pyc
Api/Faturas/__pycache__/FaturaController.cpython-312.pyc
Aplicattion/Despesas/__pycache__/__init__.cpython-312.pyc
Aplicattion/Despesas/__pycache__/DespesaApp.cpython-312.pyc
Aplicattion/Faturas/__pycache__/__init__.cpython-312.pyc
Aplicattion/Faturas/__pycache__/FaturaApp.cpython-312.pyc
Infra/__pycache__/__init__.cpython-312.pyc
__pycache__/
*.pyc
*.pyo
.vscode/
.idea/
*.log
*.egg-info/
*.dist-info/
venv/
